body, p, figcaption, ul, li, h1, h2, h4, a, a:link, a:visited, a:hover, a:active {
  font-family: 'Times New Roman', Times, sans-serif;
  color: rgb(2, 0, 38);
  line-height: 2
}

body,p, figcaption, ul, li, a, a:link, a:visited, a:hover, a:active {
  font-size: 21px;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 38px;
}

h4 {
  font-size: 30px;
}

.bien {
  color: rgb(0, 255, 0);text-transform: capitalize;

}

.mal {
  color: red;text-transform: capitalize;

}

body {
  width: 90%;
  background: -webkit-linear-gradient(0deg, rgb(170, 255, 0), rgb(255, 0, 0));
  background: linear-gradient(0deg, rgb(170, 255, 0), rgb(255, 0, 0));
  background-image: url('../images/ob_b9f88b_tlt.jpg');
  background-repeat: no-repeat;
  background-position: bottom right;
  /* background-size: 300px; */
  background-size: cover;
}

blockquote {
  width: 45%;
  font-size: 160%;
  background-color: #c1c1c1;
  border-left: 3px solid #b45555;
  padding: 80px 0px 80px 30px;
}

body, blockquote {
  margin: 0 auto;
}
blockquote{font-style: italic;}
.fermier{border-left: 3px solid #ffbe45;}
.villageois{border-left: 3px solid #f04fff;}
table,caption{width: 100%;background-color: #ffffff}
.gras{Font-Weight: Bold;}
li{padding: 10px 0px}
.imgbien{background-image: url('../images/bien.png');
  background-repeat: no-repeat;
  background-position: center right;
  padding-right:100px;}
.imgmal{background-image: url('../images/mal.png');
  background-repeat: no-repeat;
  background-position: center right;
  padding-right:100px;}
.imgchat{background-image: url('../images/chat.png');
  background-repeat: no-repeat;
  background-position: center right;
  padding-right:100px;}
  figure{
    width: 50%;
  }
  img{width: 100%;}
  .imageflottante

{

    float: left;

}